<div class="col-auto d-flex justify-content-center">
  <form action="" method="post">
    <label for="username" class="sr-only">Kullanıcı adı</label>
    <input
      class="form-control"
      type="text"
      name="username"
      placeholder="Kullanıcı Adı"
      required
    />
    <label for="password" class="sr-only">Şifre</label>
    <input
      class="form-control"
      type="password"
      name="password"
      placeholder="Parola"
      required
    />
    <button class="btn btn-success btn-block" type="submit">Giriş</button>
  </form>
</div>
