<div class="d-flex justify-content-center">
  <form action="/admin/add" method="post">
    <div class="form-group">
      <div>
        <input
            type="text"
            class="form-control"
            name="title"
            placeholder="Başlık"
        />
      </div>
    <div class="form-group">
      <div>
        <input
              type="text"
              class="form-control"
              name="short"
              placeholder="Kısa Açıklama"
        />
      </div>
    <div class="form-group">
      <div>
        <input
                type="text"
                class="form-control"
                name="long"
                placeholder="Uzun Açıklama"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
  </form>
</div>