<!DOCTYPE html>
<html>
  <head>
    <%-include('./inc/head')%>
  </head>
  <body class="index">
    <div id="body-wrapper" class="index home">
      <%-include('./inc/topbar')%> <%-include(route)%>
    </div>
  </body>
</html>
