<div class="body-row" id="content-wrapper">
  <div id="main-wrapper">
    <div class="main section" id="main">
      <div class="widget Blog" data-version="1" id="Blog1">
        <%-include('./blogs', {blogs:blogs})%>
      </div>
    </div>
  </div>
</div>
